:root {
    --dark-brown: #3B2E1F;
    --beige: #D1B685;
    --ligth-blue: #B8DDFC;
    --dark-blue: #24314A;
    --background-color: #F5F5F5;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Karla', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--background-color);
    margin: 1em 0em;
}

nav {
    position: fixed;
    background-color: var(--background-color);
    top: 0;
    right: 0;
    min-width: 100%;
    z-index: 1;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    margin: 10px 10px;
    gap: 1.5em;
}

li a {
    color: var(--dark-brown);
    font-size: 1.3em;
}

li a:hover {
    text-decoration: line-through;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    font-family: 'Comfortaa', cursive;
    font-size: 4rem;
    position: relative;
    margin: 0px 0px 0px;
    z-index: 999;
}

.darkText {
    color: var(--dark-blue);
}

.ligthText {
    color: var(--background-color);
}

/*Welcome container*/


/*Project cards*/

.project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.card-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    margin-top: 0.5em;
}

.card {
    border: 3px solid var(--dark-blue);
    background-color: white;
    border-radius: 5px;
    min-width: 400px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px; 
    gap: 10px;
}

.card p {
    text-align: center;
}

.card img {
    max-width: inherit;
    border: 3px solid var(--dark-blue);
    border-top: none;
    padding: 5px;
}

.button {
    padding: 10px 35px;
    border-radius: 5px;
}

.button-wrap {
    margin-bottom: -21px;
    display: flex;
    gap: 1.5em;
}

.lightButton {
    background-color: var(--beige);
    border: 2px solid var(--beige);
    color: var(--dark-blue);
}

.lightButton:hover {
    text-decoration: line-through;
    opacity: 90%;
    transition: ease-in-out 0.2s;
}

.darkButton {
    background-color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
    color: var(--background-color);
}

.darkButton:hover {
    text-decoration: line-through;
    opacity: 90%;
    transition: ease-in-out 0.2s;
}



/*About me section*/

.about-me-container {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: var(--background-color);
    min-width: 100%;
    padding: 2em;
}

.boldColor {
    background-color: var(--dark-blue);
}

.about-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.about-right {
    max-height: 400px;
    object-fit: cover;
}

.about-right img {
    max-height: 400px;
}

.about-left {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
    margin: 1em 0.1em 1em;
}

#about-list li{
    margin: 10px;
}

.download {
    margin-top: 1em;
}

/*Contact section*/

.contact-container {
    min-width: 100%;
    min-height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2em;
}

.fa-brands{
    color: var(--dark-blue);
    margin-top: 10px;
}

.fa-brands:hover {
    opacity: 70%;
}

.fa-solid{
    color: var(--dark-blue);
    margin: 10px;
}

.fa-solid:hover {
    opacity: 70%;
}


/* The color page */
/* The color boxes */

.colorBox {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-width: 200px;
    min-height: 200px;
}
.OneColor, .TwoColor, .ThreeColor, .FourColor{
    min-width: 300px;
    max-height: 50px;
    display: flex;

}
.OneColor {
    min-height: 50px;
    border-radius: 10px 10px 0 0 ;
}
.TwoColor{
    min-height: 50px;
}
.ThreeColor{
    min-height: 80px;
}
.FourColor{
    min-height: 110px;
    border-radius: 0 0 10px 10px;
}

.hexText{
    align-self: center;
    font-family: 'Karla', sans-serif;
    opacity: 0%;
}
.FourColor:hover .hexText, .OneColor:hover .hexText, .TwoColor:hover .hexText, .ThreeColor:hover .hexText{
    color: white;
    opacity: 100%;
    background-color: rgb(0, 0, 0, 40%);
    padding: 0 10px 0;
    cursor: pointer;
}

.theme-button {
    cursor: pointer;
    width: 10rem;
    align-self: center;
    margin-top: 1rem;
    border-radius: 10px;
    padding: 5px;
    border: none;
}

/* Adding color to the palette IDs */
/* This is the only one in CSS */
/* The other palettes will be written directly into html */
#pageDarkBlue {
    background-color: #24314A;
}
#pageLigthBlue{
    background-color: #B8DDFC;
}
#pageLigthBeige{
    background-color: #D1B685;
}
#pageBrown{
    background-color: #3B2E1F;
}


/* Display on top container */

.topContainer{
    display: flex;
    flex-direction: row;
    gap: 4em;
    align-items: center;
    margin-top: 3em;
}

.colorText h2{
    font-size: 40pt;
}

/* Display on bottom container */

.bottomContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5em;
    justify-content: center;
    padding-top: 5em;
    margin-top: 5em;
    margin: 5em 2em;
    border-top: 1px solid var(--dark-blue);
}


@media screen and (max-width: 900px){
    main {
        margin-top: 50px;
        overflow: hidden;
    }

    nav ul {
        background-color: var(--background-color);
        z-index: 999;
    }

    #logo{
        z-index: -99;
    }

    .card {
        min-width: 200px;
        max-width: 90%;
    }

    .about-wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #about-list li{
        margin: 0px;
        margin-top: 10px;
        /* padding: -10px; */
    }



    /* Colorboxes */
    .topContainer{
        flex-direction: column;
    }
}