:root {
    --dark-brown: #3B2E1F;
    --beige: #D1B685;
    --ligth-blue: #B8DDFC;
    --dark-blue: #5872A2;
    --background-color: #F5F5F5;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Karla', sans-serif;
}

a {
    text-decoration: none;
}

body {
    background-color: var(--background-color);
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: end;
    margin: 10px 10px;
    gap: 1.5em;
}

li a {
    color: var(--dark-brown);
    font-size: 1.3em;
}

main {
    display: flex;
    flex-direction: column;
    border: 3px solid red;
    align-items: center;
}

#logo {
    font-family: 'Comfortaa', cursive;
    font-size: 4rem;
    border: 3px solid red;
    color: var(--dark-brown);
    margin: -30px 0px 0px;
}

/*Project cards*/

.card-wrap {
    display: flex;
    gap: 2em;
}

.card {
    border: 3px solid var(--dark-blue);
    border-radius: 5px;
    min-height: 50vh;
    min-width: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.button {
    padding: 10px 35px;
    color: var(--dark-brown);
    border-radius: 5px;
}

.button-wrap {
    margin-bottom: -21px;
    display: flex;
    gap: 1.5em;
}

.demo-button {
    background-color: var(--beige);
    border: 2px solid var(--beige);
}

.code-button {
    background-color: var(--dark-blue);
    border: 2px solid var(--dark-blue);
    color: var(--background-color);
}
